.mainbackground{position: fixed;width: 100%;background: url(../Images/mainback.jpg)repeat fixed 100%;
background-size: cover;height: 100%;background-position: bottom;z-index: -99}

.cube-opt{height: 150px;background-color: inherit;text-align: center;border: solid white 3px;transition: all 1s;background-color: rgba(0,0,0,.5)}
.centered-nice{width: 16.66%;display:inline-block}
.centered-basic{display:inline-block}
.cube-opt:hover {background-color: crimson;transition: all 1s;}
.wrapper-div{
  /* text-align:left;
  animation-name:slideTest;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1; */
}
/* .drop{padding-top:70px} */
.scorecard{
  background:#DDDDDD;
  border:3px solid black;
  opacity:0;

  position:absolute;
  left:0%;
  margin-left:-600px;


  animation-name: fadeTest;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;



}
@keyframes fadeTest{
  from {background-color: #DDDDDD;
        opacity:0;
        left:0%}
  to {background-color: #DDDDDD;
      opacity:1;
      left:50%}
}

/* @keyframes slideTest{
  from {text-align: left;}
  to {text-align: center;}
} */

.scorecard:hover{
  background:#DDDDDD;
}

h4 {margin-bottom: 0px;}
.space-down{margin-top: 2vh}
